$mainDark: #292929;
$secondaryDark: #3C4042;
$white: #FCFCFC;
$gold:  #FFD700;

.accountDisplay{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    width: calc(100vw - 400px);
    height: 100vh;
    background-color: $secondaryDark;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;

    .account{
        background-color: $mainDark;
        color: $white;
        width:400px;
        height:530px;
        margin:20px;
        border-left: 1px solid $gold;

        ul{
            list-style: none;

            .name{
                font-size: 24px;
                margin: 10px 0;
            }

            .email{
                font-size: 18px;
            }

            img{
                width:320px;
                border-radius: 14px;
                margin: 10px 0;
            }

            .accountType{
                font-size: 18px;
            }

            .balance{
                font-size: 24px;
                margin: 10px 0;
                span{
                    color: $gold;
                }
            }
        }
    }

    .accountSmall{
        background-color: $mainDark;
        color: $white;
        width:280px;
        height:330px;
        margin:10px;
        padding-left: 10px;
        border-left: 1px solid $gold;

        ul{
            list-style: none;
            box-sizing: border-box;

            .name{
                font-size: 16px;
                margin: 10px 0;
            }

            .email{
                font-size: 14px;
            }

            img{
                width:80px;
                border-radius: 50%;
                margin: 10px 0;
            }

            .accountType{
                font-size: 15px;
            }

            .balance{
                font-size: 16px;
                margin: 10px 0;
                span{
                    color: $gold;
                }
            }

            .accountButton{
                background-color: transparent;
                color: $white;
                border: 1px solid $gold;
                padding:8px;
                margin: 3px;

                &:hover{
                    color: $gold;
                    cursor: pointer;
                }
            }
        }
    }

    .wrongID{
        color: $white;
        font-size: 24px;
    }
}