$mainDark: #292929;
$secondaryDark: #3C4042;
$white: #FCFCFC;
$gold:  #FFD700;

.accountDisplay{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    width: calc(100vw - 400px);
    overflow: auto;
    background-color: $secondaryDark;

    .account{
        background-color: $mainDark;
        color: $white;
        width:400px;
        height:550px;
        margin:20px;
        border-radius: 12px;
        ul{
            list-style: none;
        }
    }

    .wrongID{
        color: $white;
        font-size: 24px;
    }
}